
.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* &:first-child {
      border-top: none;
    } */
    // :hover {
    //   opacity: 0.7;
    //   background-color: aliceblue;
    // }
}

nb-icon {
  font-size: 1.55rem;

  ::ng-deep svg {
    vertical-align: top;
  }
}

nb-card {
  &.own-scroll {
    height: 50vh;
  }
}