nb-card-header {
    text-align: center;
    background-color: purple;
    color: white;
}

nb-user {
    justify-content: center;
    padding: 1.5rem 1rem;
}

.card-row {
    display: flex;
    margin: 0 -0.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-row::-webkit-scrollbar {
    display: none;
}
  

.card-col {
    flex: 1 0 calc(33.33% - 1rem);
    margin: 0 0.5rem;
}

.card-col nb-card-body {
    text-align: center;
    flex: 1 0 20.1rem;
    padding-top: 5rem;
    
}