
<nb-layout windowMode>
  <nb-layout-header id="header-bar" fixed>
    <div class="header-container">
      <a
        href="#"
        class="sidebar-toggle"
        (click)="toggleSidebar()"
      >
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <!-- <ngx-header></ngx-header> -->
      <div class="header-container">
        <a class="logo" href="#">Teams<span>Visual</span></a>
      </div>
      <!-- Teams Visual -->
    </div>

    <div class="header-container">
      <nb-actions size="small">

        <!-- <nb-action class="control-item">
          <nb-search
            type="rotate-layout"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"
          ></nb-search></nb-action> -->
        <nb-action
          class="control-item"
          icon="search-outline"
          nbTooltip="not yet.."
          nbTooltipIcon="car-outline"
          nbTooltipPlacement="bottom"
        ></nb-action>
        <nb-action
          class="control-item"
          icon="email-outline"
          nbTooltip="not yet.."
          nbTooltipIcon="car-outline"
          nbTooltipPlacement="bottom"
        ></nb-action>
        <nb-action
          class="control-item"
          icon="bell-outline"
          nbTooltip="not yet.."
          nbTooltipIcon="car-outline"
          nbTooltipPlacement="bottom"
        ></nb-action>
        <nb-action *ngIf="!userAccount"
          class="control-item"
          icon="person-outline"
          (click)="login()"
        ></nb-action>
        <nb-action
          *ngIf="userAccount"
          class="user-action">
          <nb-user [nbContextMenu]="myContextItems"
                   [name]="userAccount?.name"
                   [title]="userAccount?.username">
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>

  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <!-- <ng-content select="nb-menu"></ng-content> -->
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <!-- <ng-content select="router-outlet"></ng-content> -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span class="created-by">
      Created by <b><a href="https://github.dxc.com/aet" target="_blank">AET team</a></b>
    </span>
    <div class="socials">
      <a href="https://github.dxc.com/aet" target="_blank" class="ion ion-social-github"></a>
      <a href="#" target="_blank" class="ion ion-social-facebook"></a>
      <a href="#" target="_blank" class="ion ion-social-twitter"></a>
      <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
    </div>
  </nb-layout-footer>
</nb-layout>



<!-- <div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div> -->
