.header-container {
    display: flex;
    align-items: center;
    width: auto;

}

.header-container .logo {
    padding: 0 1.25rem;
    font-size: 1.75rem;
    white-space: nowrap;
    text-decoration: none;
    color: purple;
}

  .header-container .sidebar-toggle  {
      text-decoration: none;
      
  }

  .header-container .sidebar-toggle nb-icon {
    font-size: 1.75rem;
    color: mediumpurple!important;
  }

:host nb-layout-header ::ng-deep nav {
    justify-content: space-between;
  }